{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}
        {% if file_url is defined %}
            {# Put video player here #}
        {% endif %}
        {% if upload_type is defined %}
            {% if upload_type == constant('AppBundle\\Form\\Extension\\FileTypeExtension::UPLOAD_TYPE') %}
                <script type="text/template" id="qq-template">
                    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
                        </div>
                        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                            <span class="qq-upload-drop-area-text-selector"></span>
                        </div>
                        <div class="qq-upload-button-selector qq-upload-button">
                            <div>Upload a file</div>
                        </div>
                        <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
                        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                            <li>
                                <div class="qq-progress-bar-container-selector">
                                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                                </div>
                                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                <span class="qq-upload-file-selector qq-upload-file"></span>
                                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                                <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                                <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                            </li>
                        </ul>

                        <dialog class="qq-alert-dialog-selector">
                            <div class="qq-dialog-message-selector"></div>
                            <div class="qq-dialog-buttons">
                                <button type="button" class="qq-cancel-button-selector">Close</button>
                            </div>
                        </dialog>

                        <dialog class="qq-confirm-dialog-selector">
                            <div class="qq-dialog-message-selector"></div>
                            <div class="qq-dialog-buttons">
                                <button type="button" class="qq-cancel-button-selector">No</button>
                                <button type="button" class="qq-ok-button-selector">Yes</button>
                            </div>
                        </dialog>

                        <dialog class="qq-prompt-dialog-selector">
                            <div class="qq-dialog-message-selector"></div>
                            <input type="text">
                            <div class="qq-dialog-buttons">
                                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                                <button type="button" class="qq-ok-button-selector">Ok</button>
                            </div>
                        </dialog>
                    </div>
                </script>
                <link href="{{ asset('js/fine-uploader/fine-uploader-new.min.css') }}" rel="stylesheet">
                <script type="text/javascript" src="{{ asset('js/fine-uploader/fine-uploader.min.js') }}"></script>
                <script type="text/javascript">
                    $(document).ready(function()
                    {
                        var uploader = new qq.FineUploader({
                            element: document.getElementById('fine-uploader'),
                            multiple: false,
                            request: {
                                endpoint: "{{ oneup_uploader_endpoint('video_tutorial') }}"
                            },
                            chunking: {
                                enabled: true,
                                partSize: 10000000
                            }
                        });
                    });
                </script>
                <div id="fine-uploader"></div>
            {% endif %}
        {% else %}
            {{ block('form_widget') }}
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block dwg_widget %}
    {% spaceless %}
        {{ block('form_widget') }}
        {% if value is not null and file_url is defined %}
            <iframe src="//sharecad.org/cadframe/load?url={{ file_url }}" scrolling="no" style="height: 400px; width: 800px;"></iframe>
        {% endif %}
    {% endspaceless %}
{% endblock %}