{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <a href="{{ admin.generateCustomUrl('edit', object.materialShapeSize.materialShape, {}, true) }}">
        {{ value }}
    </a>
{% endblock %}