{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <a href="{{ admin.generateCustomUrl('edit', object.productType, {}, true) }}">
        {{ value }}
    </a>
    {% if object.productType.imageWebPath != null %}
        <br>
        <img src="{{ image(object.productType.imageWebPath).resize(124,124) }}">
    {% endif %}
{% endblock %}