{% extends 'SonataAdminBundle:CRUD:list_choice.html.twig' %}
{% block field %}
    {% for type in object.applicationTypes %}
        {{ staticCall('AppBundle\\Enum\\ApplicationType', 'getTitle', {key: type}) }}{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}