{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <a href="{{ admin.generateCustomUrl('edit', object.materialShapeSize, {}, true) }}">
        {{ value }}
    </a>
    {% if object.materialShapeSize.imageWebPath != null %}
        <br>
        <img width="124" src="{{ asset(object.materialShapeSize.imageWebPath) }}">
    {% endif %}
{% endblock %}
