{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.materialType %}
        <a href="{{ admin.generateCustomUrl('edit', object.materialType, {}, true) }}">
            {{ value }}
        </a>
    {% endif %}
{% endblock %}