{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.object3d %}
        <a href="{{ admin.generateCustomUrl('edit', object.object3d, {}, true) }}">
            {{ value }}
        </a>
        {% if object.object3d.imageWebPath != null %}
            <br>
            <img src="{{ image(object.object3d.imageWebPath).resize(124,124) }}">
        {% endif %}
    {% endif %}
{% endblock %}