{% extends 'AppBundle:Email:template.html.twig' %}

{% block content %}
    <h2>Hello, {{ user.fullName }}!</h2>

    <h3>{{ news.title }}</h3>

    <p>
        {{ news.content }}
    </p>
{% endblock %}