{% extends 'AppBundle:Email:template.html.twig' %}

{# @var quotation \AppBundle\Entity\Quotation #}
{# @var user \AppBundle\Entity\User #}

{% block content %}
    <h3>Thank you for requesting a quote via our online Price & Spec tool.</h3>

    <p>
        <span>We will be using the following information to complete your request;</span>
    </p>
    <div>
        <table>
            <tbody>
            {% if quotation.project is defined %}
            <tr>
                <td>Project:</td>
                <td>{{ quotation.title }}</td>
            </tr>
            <tr>
                <td>Unique URL:</td>
                <td><a target="_blank" href="{{ sculptform_url ~ '/user/designer/' ~ quotation.project.id }}">{{ sculptform_url ~ '/user/designer/' ~ quotation.project.id }}</a></td>
            </tr>
            {% endif %}

            {% if user is defined %}
            <tr>
                <td>Requester:</td>
                <td>{{ quotation.firstName }} {{ quotation.lastName }}</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>{{ quotation.phone }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><a href="mailto:{{ quotation.email }}">{{ quotation.email }}</a></td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>{{ quotation.companyName }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Content:</td>
                <td>{{ quotation.content }}</td>
            </tr>
            {% if quotation.attachmentUrl is not null %}
            <tr>
                <td>Attachment URL:</td>
                <td>
                    <a target="_blank" href="{{ quotation.attachmentUrl }}">{{ quotation.attachmentUrl }}</a>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>REFERENCE NUMBER:</td>
                <td>{{ quotation.id }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p><i>We advise that you share your design with others on the project using the unique URL to efficiently solve design and budget queries.</i></p>
    <p>For any product information or design inspiration visit our website at <a href="http://www.sculptform.com.au" target="_blank">www.sculptform.com.au.</a></p>
    <p>The Sculptform team is here to support your project from concept to completion and can be contacted on 1800 008 828 or via <a href="mailto:support@sculptform.com.au">support@sculptform.com.au</a> if you have any questions.</p>
{% endblock %}