{% extends 'AppBundle:Email:template.html.twig' %}

{# @var sampleRequest \AppBundle\Entity\SampleRequest #}
{# @var user \AppBundle\Entity\User #}

{% block content %}
    <h3>Thank you for requesting samples via our online Price & Spec tool.</h3>

    <div>
        <table>
            <tbody>
            {% if sampleRequest.project is defined %}
            <tr>
                <td>Project:</td>
                <td>{{ sampleRequest.project.title }}</td>
            </tr>
            <tr>
                <td>Sample Type: </td>
                {% if sampleRequest.sampleType == 1 %}
                    <td>Loose sample</td>
                {% else %}
                    <td>Sample board</td>
                {% endif %}
            </tr>
            <tr>
                <td>Special considerations: </td>
                <td>{{ sampleRequest.content }}</td>
            </tr>
            <tr>
                <td>Unique URL:</td>
                <td><a target="_blank" href="{{ sculptform_url ~ '/user/designer/' ~ sampleRequest.project.id }}">{{ sculptform_url ~ '/user/designer/' ~ sampleRequest.project.id }}</a></td>
            </tr>
            {% endif %}
            <tr>
                <td>Requester:</td>
                <td>{{ sampleRequest.name }}</td>
            </tr>
            <tr>
                <td>Company:</td>
                <td>{{ sampleRequest.companyName }}</td>
            </tr>
            <tr>
                <td>Postal Address:</td>
                <td>{{ sampleRequest.streetAddress }}</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>{{ sampleRequest.phone }}</td>
            </tr>
            <tr>
                <td>REFERENCE NUMBER: </td>
                <td>{{ sampleRequest.id }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p>Moving forward we will keep you updated on the progress of your sample.</p>
    <p><i>We advise that you share your design with others on the project using the unique URL to efficiently solve design and budget queries.</i></p>
    <p>Please note that the Sculptform team is here to support your project from concept to completion and can be contacted on 1800 008 828 or via <a href="mailto:support@sculptform.com.au">support@sculptform.com.au</a> if you have any questions.</p>
{% endblock %}
