{% extends 'AppBundle:Email:template.html.twig' %}

{% block content %}
    <h2>Hello, {{ user.fullName }}!</h2>

    <h3>{{ project.owner.fullName }} was shared his project "{{ project.title }}" with you!</h3>
{% endblock %}