{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.owner  %}
        <a href="{{ admin.generateCustomUrl('show', object.owner, {}, true) }}">
            {{ object.owner.fullname }}
        </a>
    {% endif %}
{% endblock %}