{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <a href="{{ absolute_url(sculptform_url~'/user/designer/'~object.id) }}">{{ absolute_url(sculptform_url~'/user/designer/'~object.id) }}</a>
{% endblock %}