<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block og %}
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ content }}" />
        {% if imageWebPath is not null %}
            <meta property="og:image" content="{{ host ~ '/' ~ imageWebPath }}" />
            <meta property="og:image:alt" content="{{ title }}" />
            <meta property="og:image:width" content="{{ imageWidth }}"/>
            <meta property="og:image:height" content="{{ imageHeight }}"/>
        {% endif %}
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ url }}" />
        <meta property="fb:app_id" content="{{ fb_app_id }}" />
    {% endblock %}
</head>
<body></body>
</html>