{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.materialFinish is not null %}
        <a href="{{ admin.generateCustomUrl('edit', object.materialFinish, {}, true) }}">
            {{ value }}
        </a>
        {% if object.materialFinish.textureWebPath is not null %}
            <br>
            <img src="{{ image(object.materialFinish.textureWebPath).resize(200,100) }}">
        {% elseif object.materialFinish.color is not null %}
            <br>
            <div style="width: 100px; height: 100px; background: {{ object.materialFinish.color }}"></div>
        {% endif %}
    {% endif %}
{% endblock %}