{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.material %}
    <a href="{{ admin.generateCustomUrl('edit', object.material.productType, {}, true) }}">
        {{ value }}
    </a>
    {% if object.material.productType.imageWebPath != null %}
        <br>
        <img src="{{ image(object.material.productType.imageWebPath).resize(200,100) }}">
    {% endif %}
    {% endif %}
{% endblock %}