<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <base href="{{ app.request.baseUrl }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=1" />
    <title>Price and Spec Architectural</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/login.js') }}"></script>
    {% endblock %}
</head>
<body >
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</body>
</html>
