{# src/Acme/AdminBundle/Resources/views/standard_layout.html.twig #}
{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .logo img {
            max-width: none;
        }
    </style>
{% endblock %}

{% block sonata_top_nav_menu_add_block %}
{% endblock %}

{% block side_bar_after_nav %}
    <p class="text-center"><a href="{{ absolute_url(woodformarch_url) }}" target="_blank">Price and Spec Architectural</a></p>
{% endblock %}