{% extends base_template %}
{% block title %}
    Statistics
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var charts = {{ data['charts']|json_encode|raw }};
    </script>
    <script src="{{ asset('js/Chart.min.js') }}"></script>
    <script src="{{ asset('js/account-statistics.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="checkbox">
        <label for="{{ admin.uniqid }}_show-test-data">
            <div class="icheckbox_square-blue">
                <input type="checkbox" id="{{ admin.uniqid }}_show-test-data" name="show-test-data" value="{{ showTestData?1:0 }}" {% if showTestData %}checked{% endif %} data-url="{{ admin.generateUrl('list') }}">
            </div>
            Show team members (includes admin, tester, @sibers.com, @woodformarch.com, @sculptform.com, @sculptform.com.au) projects
        </label>
    </div>
    <div class="box box-primary" >
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                <tr class="sonata-ba-list-field-header">
                    <th class="sonata-ba-list-field-header">
                        Total Designs
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Total Accounts
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Total Estimate Requests
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Total Sample Requests
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Total Concept Click Projects
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Total Expression Cladding Projects
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Total Fintrax Projects
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="sonata-ba-list-field">
                        {{ data['total']['design'] }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ data['total']['account'] }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ data['total']['quotation'] }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ data['total']['sample_request'] }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ data['total']['concept_click'] }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ data['total']['expression_cladding'] }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ data['total']['fintrax'] }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box">
      <canvas id="designChart" style="height:600px;width: content-box;"></canvas>
    </div>

{% endblock %}