{% extends base_template %}
{% block title %}
Pardot Statistics
{% endblock %}
{% block javascripts %}
 {{ parent() }}
 <script type="text/javascript">
 </script>
{% endblock %}

{% block content %}


{% endblock %}
