{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.projectSize %}
        {{ staticCall('AppBundle\\Enum\\SampleRequestProjectSize', 'getTitle', [object.projectSize]) }}
    {% endif %}
{% endblock %}