{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.project %}
        <a href="{{ absolute_url(sculptform_url~'/user/designer/'~object.project.id) }}">
            {{ absolute_url(sculptform_url~'/user/designer/'~object.project.id) }}
        </a>
    {% endif %}
{% endblock %}