{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.attachmentPath is not null %}
        <a href="{{ asset(object.attachmentWebPath) }}">
            Download attachment
        </a>
    {% endif %}
{% endblock %}