{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">CSV-Import</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td class="sonata-ba-list-label" width="40%">
                        Import File directly:
                    </td>
                    <td>
                        <div class="form-group">
                            <form action="{{ path('csv_import') }}" method="post" name="csvImport" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <select size="1" name="fileType">
                                        {% for key, value in types %}
                                            <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="file" name="csvFile" />
                                    <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true"></i> Upload</button>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}