{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.imagePath != null %}
            <img width="124" src="{{ asset(object.imageWebPath) }}">
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}
