{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% if object.projectId %}
        <a href="{{ absolute_url(sculptform_url~'/user/designer/'~object.projectId) }}">{{ absolute_url(sculptform_url~'/user/designer/'~object.projectId) }}</a>
    {% else %}
        N/A
    {% endif %}
{% endblock %}
