{% extends 'AppBundle:Email:template.html.twig' %}

{# @var project \AppBundle\Entity\Project #}
{# @var user \AppBundle\Entity\User #}
{# @var type string #}

{% block content %}
    <h3>Thank you for using our online Price & Spec tool.</h3>
    <div>
        <div>Please find attached the Word Document for your project "{{ project.getTitle() }}"</div>
        <div>Moving forward we advise that you share your design URL with others on the project to efficiently solve
            design and budget queries.</div>
    </div>
    <p style="margin: 10px 0 10px 0">
        <span style="font-weight: bold;">Your unique design URL</span> – <a
                href="{{ sculptform_url ~ '/user/designer/' ~ project.id }}"
                target="_blank">{{ sculptform_url ~ '/user/designer/' ~ project.id }}</a>
    </p>
    <p style="margin-bottom:  10px;">
        For any product information or design inspiration visit our website at <a href="http://www.sculptform.com.au"
                                                                                  target="_blank">www.sculptform.com.au.</a>
    </p>
    <p>
        The Sculptform team is here to support your project from concept to completion and can be contacted on 1800 008 828 or via <a href="mailto:support@sculptform.com.au">support@sculptform.com.au</a> if you have any questions.
    </p>
{% endblock %}
