{% extends "@App/layout.html.twig" %}

{% block fos_user_content %}
    {{ parent() }}
    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container">

        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <img src="{{ asset('images/woodform-architectural-logo.png') }}" />
                    </div>
                </div>

                <div class="panel-body" >

                    <form name="form" id="form" action="{{ path("fos_user_security_check") }}"  class="form-horizontal" enctype="multipart/form-data" method="POST">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="username" name="_username" type="text" class="form-control" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}">
                        </div>
                        <div class="input-group pull-right">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> {{ 'security.login.submit'|trans }}</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <div id="particles"></div>

{% endblock fos_user_content %}
