{% trans_default_domain 'FOSUserBundle' %}
{% block subject %} Welcome to Woodform: Would You Like to Create an Account? {% endblock %}

{% block body_text %}
Thank you for visiting Woodform.

Avoid filling in any more forms and create an account for instant access to
downloads, samples, enquiries, and quotes. Please click the link below to
confirm your account and log in:

{{ confirmationUrl }}

Thank you for considering Price and Spec Architectural. If there is anything we can
help you with, please email us at consult@sculptform.com.au.

Thanks,
Woodform Customer Support Team.
{% endblock %}

{% block body_html %}{% endblock %}


