{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {% for answer in object.answers %}
        <b>{{ answer.content }}</b> - <i>{{ answer.users|length }}</i>
        <br>
    {% endfor %}
{% endblock %}