<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="margin-left: 10px;">

    <br>

    {% block content %}{% endblock %}

    <br>

    <div style="font-size: 14px;">
        Regards,
             <p style="font-weight: bold;">Sculptform Support Team</p>
    </div>

    <div style="font-size:14px;">
        <table>
            <tr>
                <td style="padding-right: 30px">
                    <img src="{{ host ~ '/images/woodform-email-logo.png' }}">
                </td>
                <td>
                    <div style="padding-bottom: 2px;"><a href="https://www.sculptform.com.au/" target="_blank">sculptform.com.au</a>
                    </div>

                    <div style="padding-bottom: 2px;"><a href="mailto:support@sculptform.com.au">support@sculptform.com.au</a>
                    </div>
                    <div style="padding-bottom: 2px;"><span style="font-weight: bold; color: red;">T</span><span
                                style="color: darkgray;"> 1800 008 828</span></div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>