@page {
    margin: 0.5cm 0.8cm 0.5cm 0.8cm;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

header {

    margin-bottom: 50px;
}

.logo {
    width: 40%;
}

.logo img {
    width: 100%;
}

.logo-title {
    width: 40%;

}

.costT, .sTable {

    width: 100%;
    border-collapse: collapse;
}

.img-block {
    border: 1px solid #787878;
    float: left;

}

.firstRow {
    height: 100%;
}

.costT thead, .sTable thead {
    -webkit-print-color-adjust: exact;
    color: white;
}

.costT tbody tr td, .sTable tbody tr td {
    color: dimgray;
    border: 1px solid #d4d4d4;
    padding: 5px 5px;
    font-weight: 300;
    font-size: 16pt;

}

.costT thead th, .sTable thead th{
    padding: 5px 5px;
}

.costT {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.costT th, .sTable th {

    font-weight: 300;
    border: 1px solid #787878;

}

.costT td h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 3px;

}

.costT td p {

    margin: 3px;

}

.costT td h1 span {
    font-size: 21px;
    text-transform: uppercase;

}

.costT tbody tr td h2 {
    font-size: 21px;
    font-weight: 300;
}

.table-group p {
    font-size: 18px;
}

.secondRow .title h1 {
    margin-right: 10px;
    font-size: 21px;
    font-weight: 600;
    color: darkred;
}

.secondRow .title h2 {
    font-size: 21px;
    font-weight: 300;
}

.secondRow {
    height: 100%;
}

.text-group p {
    /*margin: 4px;*/
}

.block-group .step {
    margin-right: 40px;
}

.stepT td {
    border: 2px solid #757575;
    vertical-align: top;
}

.stepT {
    width: 100%;
}

.block-group .step:last-child {

    margin-right: 0px;
}

.step h1 {
    font-size: 26px;
    font-weight: 700;
    color: darkred;
}

.step p {
    font-size: 18px;
    font-weight: 300;
}

.fContent {
    background-color: #525453;
    -webkit-print-color-adjust: exact;
    color: white;
    margin-top: 25px;
    text-align: center;
}

.line {
    width: 1px;
    height: 17px;
    background-color: white;
}

.fContent span {
    font-weight: 300;
}

.sTable tbody tr td:first-child {

    font-weight: 400;
    width: 50%;
}

.small {
    font-size: 10px !important;
    font-style: oblique;
}

.text-group {
    /*font-weight: 300;*/
}

.footer {
    width: 100%;
}

.secondRow {

}

/*.main-table tr td:last-child{*/
/*width: 60%;*/

/*}*/
/*.main-table tr td:first-child{*/
/*width: 44%;*/

/*}*/
.main-table {
    width: 100%
}

.fContent span {
    margin-right: 40px;

}

.fContent span:last-child {
    margin-right: 0;
}

.fContent {
    padding: 10px 0;
}
