body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 30px 15px 0 15px;
}

#table-specs td{
    padding: 5px;
    border: 2px solid white;
}

#table-specs {
    background-color: #F0F2F2;
    border-collapse: collapse;
    margin: -2px -4px;
    padding: 0;
    width: 100%;
}

#table-specs .title{
    text-align: center;
    font-size: 10px;
}

#table-specs .name{
    background-color: #9B9B9B;
    color: white;
    vertical-align: top;
    font-size: 10px;
}

#table-specs .description{
    font-size: 9px;
}

#project-image {
    border: 1px solid lightgrey;
    width: auto;
    height: auto;
}

#table-products {
    margin-top: 20px;
}

#table-products td {
    text-align: center;
    font-size: 9px;
    padding: 5px;
}

#table-products tr:nth-child(odd) td {
    background-color: #F9F9F9;
}

#table-products th {
    background-color: #39BFB4;
    padding: 6px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

#description-block {
    width: 320px;
}

#table-description {
    width: 100%;
}

#table-description th {
    padding: 10px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
}

#table-description td {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

#description, .m2 {
    margin-top: 10px;
    color: darkgrey;
    font-size: 9px;
    text-align: right;
}