<?xml version="1.0" encoding="UTF-8"?>
<merge xmlns="http://qcad.org/merge/elements/1.0" unit="Millimeter">
    {% for exportedProduct in data %}
        <item src="{{ exportedProduct.dwgAbsolutePath }}">
            <insert
                    x="{{ exportedProduct.x }}"
                    y="{{ exportedProduct.y }}"
                    angle="{{ exportedProduct.angle }}"
                    flipx="{{ exportedProduct.flipx }}"
                    flipy="{{ exportedProduct.flipy }}"
            />
        </item>
    {% endfor %}
</merge>