<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>WOODFORM</title>
    <!--Main-Style-->
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">-->
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
{#    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">#}
    <style>
        @page {
            margin: 0.5cm 0.8cm 0.5cm 0.8cm;
        }

        body {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
        }

        header {

            margin-bottom: 50px;
        }

        .logo {
            width: 40%;
        }

        .logo img {
            width: 100%;
        }

        .logo-title {
            width: 40%;

        }

        .costT, .sTable {
            width: 100%;
            border-collapse: collapse;
        }

        .img-block {
            border: 1px solid #787878;
            float: left;

        }

        .firstRow {
            height: 100%;
        }

        .costT thead, .sTable thead {
            -webkit-print-color-adjust: exact;
            color: white;
        }

        .costT tbody tr td, .sTable tbody tr td {
            color: dimgray;
            border: 1px solid #d4d4d4;
            padding: 0 12px;
            font-weight: 300;
            font-size: 16px;

        }

        .costT {
            margin-top: 10px;
            text-align: center;
            width: 100%;
        }

        .costT th, .sTable th {

            font-weight: 300;
            border: 1px solid #787878;

        }

        .costT td h1 {
            font-size: 22px;
            font-weight: 300;
            margin: 3px;

        }

        .costT td p {

            margin: 3px;

        }

        .costT td h1 span {
            font-size: 21px;
            text-transform: uppercase;

        }

        .costT tbody tr td h2 {
            font-size: 21px;
            font-weight: 300;
        }

        .table-group p {
            font-size: 18px;
        }

        .secondRow .title h1 {
            margin-right: 10px;
            font-size: 21px;
            font-weight: 600;
            color: darkred;
        }

        .secondRow .title h2 {
            font-size: 21px;
            font-weight: 300;
        }

        .secondRow {
            height: 100%;
        }

        .text-group p {
            margin: 4px;
        }

        .block-group .step {
            margin-right: 40px;
        }

        .stepT td {
            border: 2px solid #757575;
            vertical-align: top;
        }

        .stepT {
            width: 100%;
        }

        .block-group .step:last-child {
            margin-right: 0;
        }

        .step h1 {
            font-size: 26px;
            font-weight: 700;
            color: darkred;
        }

        .step p {
            font-size: 18px;
            font-weight: 300;
        }

        .fContent {
            background-color: #525453;
            -webkit-print-color-adjust: exact;
            color: white;
            margin-top: 25px;
            text-align: center;
        }

        .line {
            width: 1px;
            height: 17px;
            background-color: white;
        }

        .fContent span {
            font-weight: 300;
        }

        .sTable tbody tr td:first-child {
            font-weight: 400;
            width: 50%;
        }

        .small {
            font-size: 10px !important;
            font-style: oblique;
        }

        .text-group {
            font-weight: 300;
        }

        .footer {
            width: 100%;
        }

        .secondRow {

        }

        /*.main-table tr td:last-child{*/
        /*width: 60%;*/

        /*}*/
        /*.main-table tr td:first-child{*/
        /*width: 44%;*/

        /*}*/
        .main-table {
            width: 100%
        }

        .fContent span {
            margin-right: 40px;

        }

        .fContent span:last-child {
            margin-right: 0;
        }

        .fContent {
            padding: 10px 0;
        }
    </style>
</head>
<body>

<table class="main-table">
    <tr>
        <td style="width: 50%">
            <img src="http://beta.woodform.dev7.sibers.com/api/images/doc_header.png" style="width: 40%; padding-bottom: 30px;">
        </td>

        <td style="text-align:right; font-size:24pt; font-weight:300; color:#90928B; vertical-align:top; padding-top:20px; font-family:'Roboto Condensed';">Price & Spec</td>
    </tr>

    <tr>
        <td style="vertical-align: top; text-align: center;">
            <img src="http://beta.woodform.dev7.sibers.com/api/uploads/projects/c22e34bf3a78ba34a1c5173d842522a8.png" alt="" style="border: 1px solid #757575; width: 45%">
        </td>
        <td style="vertical-align: top; width: 55%;">
            <table class="sTable">
                <thead>
                <tr class="tr">
                    <th colspan="2" bgcolor="#525453" style="color:white">Specification table</th>
                </tr>
                </thead>
                <tbody style="letter-spacing: 1px;">

                <tr>
                    <td style="font-size: 8pt; width: 40%" bgcolor="#f8f9f8;">PROJECT NAME</td>
                    <td style="font-size: 9pt; width: 60%;">Overlapping Text</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">PRODUCT</td>
                    <td style="font-size: 9pt">Sculptform Click-on Battens</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">APPLICATION TYPE</td>
                    <td style="font-size: 9pt">Interior Only</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">SEQUENCE</td>

                    {% set sequence = '(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer,\n
(5mm space), 25x50 Aluminium - Block, Walnut Real Timber Veneer' %}

                    {% set sequenceLength = sequence|length %}

                    <td style="font-size:{% if sequenceLength > 600 %}7{% else %}8{% endif %}pt">{{ sequence }}</td>
{#                    <td style="font-size: 8pt">{{ sequence }}</td>#}
                </tr>

{#                <tr>#}
{#                    <td style="font-size: 8pt;" bgcolor="#f8f9f8">SEQUENCE COUNT</td>#}

{#                    <td style="font-size: 6pt;">{{ sequenceLength }}</td>#}
{#                </tr>#}

{#                {% if project.productType.id == 2 %}#}
{#                    {% set ecp = project.expressionCladdingProducts.first %}#}

{#                    {% if ecp %}#}
{#                        {% set stackerParentShape = ecp.base.getParentShape(0) %}#}
{#                        <tr>#}
{#                            <td style="font-size: 8pt" bgcolor="#f8f9f8">PROFILE</td>#}
{#                            <td style="font-size: 9pt">{{ stackerParentShape.title }}</td>#}
{#                        </tr>#}
{#                    {% endif %}#}
{#                {% endif %}#}

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">SPACING</td>
                    <td style="font-size: 9pt">5mm</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">SPECIES</td>
                    <td style="font-size: 9pt">White Oak</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">COATING</td>
                    <td style="font-size: 9pt">COATING</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">MOUNTING TRACK TYPE</td>
                    <td style="font-size: 9pt">Standard Track</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">MOUNTING TRACK COLOUR</td>
                    <td style="font-size: 9pt">Matt Black</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt" bgcolor="#f8f9f8">ACOUSTIC BACKING</td>
                    <td style="font-size: 9pt">No</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <table class="costT">
                <thead>
                <tr bgcolor="#525453">
                    <th style="color: white; font-size: 13px;">Supply Cost per m<sup>2</sup></th>
                    <th style="color: white; font-size: 13px;">Acoustic Rating*</th>
                    <th style="color: white; font-size: 13px;">Total Weight</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="height: 60px;">
                        <h1 style="font-size: 18px; font-weight:300; margin: 3px;">$ 694.52 <span style="font-size: 14px">AUD</span></h1>
                        <p style="margin: 3px; font-size: 10px;">based on [100-300 sqm]</p>
                    </td>
                    <td>
                        <h2 style="font-size: 18px; font-weight: 300">0</h2>
                    </td>
                    <td style="width: 30%">
                        <h2 style="font-size: 18px; font-weight: 300">27.35kg</h2>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <div class="text-group">
                <table>
                    <tr>
                        <td>
                            <p style="font-size: 12px; color: dimgray; font-weight: bold"><b>IMPORTANT PRICING NOTE</b></p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p style="color: dimgrey; font-size: 12px;">
                                Pricing is based on the amount of product required as specified in the pricing panel. Quote is valid for 45 days from date of issue.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p style="color: dimgray; font-size: 12px; margin: 4px; padding: 20px; display: block;">
                                <b>Price includes:</b> All Standard Componentry - Corner trims, End caps, L-profiles, Clips,
                                Tracks and Back Cover Strip. Freight to site within Australia (minimum
                                order applies for free international freight to nearest port, customer to
                                clear goods, pay duties, taxes, etc).
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color: dimgray; font-size: 12px; margin: 4px;">
                                <b>Price does not include:</b> GST, any custom corner/edging treatment, flashing, installation,
                                substrates, hangers and TCR for suspended ceilings, fixings for
                                substrate or insulation batts. Pricing is based on the amount of product
                                required (m²) as specified in the pricing panel.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color: dimgray; font-size: 11px;"><strong>Please note: We have a minimum order of $5,000 AUD due to manufacturing costs</strong> (see our <a href="https://sculptform.com.au/sculptform-minimum-order/" target="_blank">website</a> for more information). The information provided in the Price & Spec Tool is a guideline for your convenience. Every care has been taken to ensure reasonable accuracy however variations may occur. See our <a href="https://sculptform.com.au/terms-of-use/" target="_blank">terms of use</a> for more details.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="small" style="color: dimgray; font-size: 10px; margin: 4px;">
                                *Based on professional opinion only. See disclaimer in Price & Spec for full details.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<div class="secondRow" style="{% if sequenceLength <= 600 %}position: fixed; left: 0; top: 800px;{% endif %}">
{#<div class="secondRow" style="position: fixed; left: 0; top: 800px;">#}
    <table class="title">
        <tr>
            <td>
                <span style="color: darkred; font-size: 14pt; font-weight: bold; margin-right: 10px;">Happy with your specification?</span>
            </td>
            <td>
                <span style="font-size: 14pt; color: dimgray; font-weight: normal;">Follow these 3 simple steps below to order.</span>
            </td>
        </tr>
    </table>

    <div class="block-group" style="width: 100%; margin-top: 5px; margin-bottom: -15px;">
        <table class="stepT">
            <tr>
                <td style="width: 30%; padding: 10px; margin: 15px;" class="step">
                    <h1 style="color: darkred; font-size: 16pt;">Step 1.</h1>
                    <p style="font-size: 10pt; color: dimgray;">
                        <span style="font-weight:bold;">Calculate your cost.</span> If the product specification and pricing is satisfactory, simply multiply this m<sup>2</sup> price by the m<sup>2</sup> of material required for your project.
                    </p>
                </td>

                <td style="width: 15px; border: none;">&nbsp;</td>

                <td style="width: 30%; padding: 10px;" class="step">
                    <h1 style="color: darkred; font-size: 16pt; padding-bottom: 20px;">Step 2.</h1>
                    <p style="font-size: 10pt; color: dimgray;">Once the tender has been approved, email us the final construction drawings to receive a formal <span style="font-weight:bold">BOQ estimation</span> which includes all standard trims and componentry.</p>
                </td>

                <td style="width: 15px; border: none;">&nbsp;</td>

                <td style="width: 30%; padding: 10px;" class="step">
                    <h1 style="color: darkred; font-size: 16pt;">Step 3.</h1>
                    <p style="font-size: 10pt; color: dimgray;">Review itemised quote and follow the prompts to <span style="font-weight: bold;">place your order.</span></p>
                </td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <div class="fContent">
            <table style="color: white;">
                <tr>
                    <td style="text-align: center; padding: 0 5px;"><span style="margin-right: 20px; width: 35%;">Contact us on <b>1800 008 828</b> </span>
                    </td>
                    <td style="padding: 0 5px; border-left: 1px solid white; border-right: 1px solid white; width: 35%;">
                        <span style="margin: 0; padding-left: 20px; padding-right: 20px;">support@sculptform.com.au </span>
                    </td>
                    <td style="padding: 0 5px;">
                        <span style="margin-left: 20px; width: 30%;"><b>sculptform.com.au</b></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>
