<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>WOODFORM</title>
    <!--Main-Style-->
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">-->
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
</head>
<body>

{# @var project \AppBundle\Entity\Project #}
{% set scene = project.scenes.first %}

{% set totalWeight = project.totalWeight %}

{% set railingTitle = 'ONTRAX' %}
{% set railingColor = 'Matt Black' %}

{% if project.productType.id == 2 %}
    {% set railingTitle = 'FRAME' %}
    {% set railingColor = 'Banjo Pine' %}
{% elseif project.productType.id == 4 %}
    {% set railingTitle = 'RAILING' %}
{% endif %}

<table class="main-table">
    <tr>
        <td style="width: 50%;">
            <img src="{{ project.productType.pdfHeaderWebPath }}" alt="" style="width: 40%;">
        </td>
        <td style="text-align: right; font-size:24pt; font-weight:300; color:#90928B; vertical-align:top; padding-top:20px; font-family: 'Roboto Condensed';">
            Price & Specification
        </td>
    </tr>
    <tr style="margin: 0px; padding: 0px;">
        <td colspan="2" align="right"
            style="padding-top: 0px; padding-bottom: 20px; vertical-align: top; color: dimgray; font-size: 10pt;">
            <p style="font-weight: bold">DATE OF ISSUE: <span
                        style="font-weight: normal">{{ "now"|date('jS F Y') }}</span></p>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top; text-align: center;">
            <img src="{{ project.imageWebPath }}" alt="" style="border: 1px solid #757575; width: 45%;">
        </td>

        <td style="vertical-align: top; width: 55%;">
            <table class="sTable">
                <thead>
                <tr class="tr">
                    <th colspan="2" bgcolor="#525453" style="font-size: 10pt; color: white; text-transform: uppercase;">
                        Specification table
                    </th>
                </tr>
                </thead>

                <tbody style="letter-spacing: 1px;">

                <tr>
                    <td style="font-size: 9pt; width: 40%; font-weight: bolder" bgcolor="#f8f9f8;">PROJECT NAME</td>
                    <td style="font-size: 9pt; width: 60%; font-weight: normal">{{ project.title }}</td>
                </tr>

                <tr>
                    <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">PRODUCT</td>
                    <td style="font-size: 9pt; font-weight: normal">Sculptform {{ project.productType.fullTitle }}</td>
                </tr>

                <tr>
                    <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">APPLICATION TYPE</td>
                    <td style="font-size: 9pt; font-weight: normal">{{ project.getApplicationLabel() }}</td>
                </tr>

                <tr>
                    <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">SEQUENCE</td>

                    {% set sequence = project|create_sequence|raw %}
                    {% set sequenceLength = project|sequence_length %}

                    <td style="font-size:{% if sequenceLength > 600 %}8{% else %}9{% endif %}pt; font-weight: normal">{{ sequence }}</td>
                </tr>

                {% if project.productType.id == 2 %}
                    {% set ecp = project.expressionCladdingProducts.first %}

                    {% if ecp %}
                        {% if ecp.base is not null %}
                            {% set stackerParentShape = ecp.base.getParentShape(0) %}
                        {% else %}
                            {% set stackerParentShape = ecp.stacker.getParentShape(0) %}
                        {% endif %}

                        <tr>
                            <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">PROFILE</td>
                            <td style="font-size: 9pt; font-weight: normal">{{ stackerParentShape.title }}</td>
                        </tr>
                    {% endif %}
                {% endif %}

                {% if project.productType.title != 'Tongue & Groove Cladding' %}
                    <tr>
                        <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">SPACING</td>
                        <td style="font-size: 9pt; font-weight: normal">{{ project.snap }}mm</td>
                    </tr>
                {% endif %}

                <tr>
                    <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">SPECIES</td>
                    <td style="font-size: 9pt; font-weight: normal">{{ project|species }}</td>
                </tr>

                {% if project.productType.title != 'Facade Blades' %}
                    <tr>
                        <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">COATING</td>
                        <td style="font-size: 9pt; font-weight: normal">{{ project.materialCoatings.first ? project.materialCoatings.first.title : 'None' }}</td>
                    </tr>
                {% endif %}

                {% if project.productType.title != 'Tongue & Groove Cladding' %}
                    <tr>
                        <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">MOUNTING TRACK TYPE</td>
                        <td style="font-size: 9pt; font-weight: normal">{{ project.railing.title }}</td>
                    </tr>
                {% endif %}

                {% if project.productType.title != 'Tongue & Groove Cladding' %}
                    <tr>
                        <td style="font-size: 8.5pt; font-weight: bolder" bgcolor="#f8f9f8">MOUNTING TRACK COLOUR</td>
                        <td style="font-size: 9pt; font-weight: normal">Matt Black</td>
                    </tr>
                {% endif %}

                {% if project.productType.id == 1 and project.applicationType == 1 %}
                    <tr>
                        <td style="font-size: 9pt; font-weight: bolder" bgcolor="#f8f9f8">ACOUSTIC BACKING</td>
                        <td style="font-size: 9pt; font-weight: normal">{% if project.acousticBacking is not null %} {{ project.acousticBacking.title }} {% else %} No Backing {% endif %}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <table class="costT">
                <thead>
                <tr bgcolor="#525453">
                    <th style="color: white; font-size: 13px;">Supply Cost per {{ project.currency.code == 'USD' ? 'ft' : 'm' }}<sup>2</sup></th>
                    <th style="color: white; font-size: 13px;">Acoustic Rating*</th>
                    <th style="color: white; font-size: 13px;">Total Weight</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="height: 60px;">
                        {% set price = project.price * project.currency.rate %}
                        {% if project.currency.code == 'USD' %}
                            {% set price = price / constant('AppBundle\\Entity\\Project::SQUARE_METRE') %}
                        {% endif %}
                        <h1 style="font-size: 18px; font-weight:300; margin: 3px;">$ {{ price|number_format(2) }} <span style="font-size: 14px;">{{ project.currency.code }}</span></h1>
                        <p style="margin: 3px; font-size: 10px;">based on [{{ project.currency.code == 'USD' ? pricingCategory[project.pricingCategory] ?? project.pricingCategory : project.pricingCategory }} {{ project.currency.code == 'USD' ? 'sqft' : 'sqm' }}]</p>
                    </td>
                    <td>
                        <h2 style="font-size: 18px; font-weight: 300;">{{ project.acousticRating.nrc and project.acousticRating.nrc != 0 ? project.acousticRating.nrc : 'N/A' }}</h2>
                    </td>
                    <td style="width: 30%;">
                        <h2 style="font-size: 18px; font-weight: 300;">{{ totalWeight|round(2) }}kg</h2>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <p style="padding: 30pt; line-height: 30pt; font-size: 40pt;">&nbsp;</p>
        </td>
    </tr>
</table>

<div class="secondRow" style="{% if sequenceLength <= 600 %}position: fixed; left: 0; top: 730px;{% endif %}">
    <table>
        <tr>
            <td style="border: 1px solid dimgrey;padding: 20px; line-height: 20pt">
                <div>
                    <span style="color: #b32027 ; font-size: 12pt; font-weight: bold; margin-right: 20pt;">Happy with your specification?</span>
                    <span style="font-size: 11pt; color: dimgray; font-weight: normal; ">Forward it to support@sculptform.com.au with your contact details and one of our team members will be intouch. Or call 1800 008 828 if you have any questions.</span>
                </div>
            </td>
        </tr>
    </table>
    {#<div class="secondRow" style="position: fixed; left: 0; top: 800px;">#}
    <div class="block-group" style="width: 100%; margin-top: 5px; margin-bottom: -15px;">
        <div class="text-group">
            <table>
                <tr>
                    <td>
                        <p style="font-size: 12px; color: dimgray; font-weight: bold;"><b>IMPORTANT PRICING NOTE</b></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="color: dimgray; font-size: 12px;">
                            {{ project.productType.disclaimer|raw }}
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="color: dimgray; font-size: 12px; margin: 4px; padding: 20px; display: block;">
                            <b>Price includes: </b>{{ project.productType.priceIncludeNote|striptags('<br><a>')|raw }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="color: dimgray; font-size: 12px; margin: 4px;">
                            <b>Price does not
                                include: </b>{{ project.productType.priceExcludeNote|striptags('<br><a>')|raw }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ '<p style="color: dimgray; font-size: 11px;">%s</p>'|format(project.productType.priceNote|striptags('<br><a><strong>'))|raw }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="small" style="color: dimgray; font-size: 10px; margin: 4px;">
                            *Based on professional opinion only. See disclaimer in Price & Spec Acoustic Rating panel
                            for full details.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="footer">
        <div class="fContent">
            <table style="color: white; width: 96%;">
                <tr>
                    <td style="text-align: right; padding: 0 10px; width: 40%;">
                        Contact us on <strong>1800 008 828</strong>
                    </td>

                    <td style="padding: 0 10px; border-left:  1px solid white; border-right:  1px solid white; text-align: center; width: 20%;">
                        support@sculptform.com.au
                    </td>

                    <td style="padding: 0 10px; text-align: left; width: 30%;">
                        <strong>sculptform.com.au</strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>
