<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>WOODFORM</title>
    <!--Main-Style-->
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">-->
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
</head>
<body>

{# @var project \AppBundle\Entity\Project #}
{% set scene = project.scenes.first %}

{% set totalWeight = project.totalWeight %}

{% set railingTitle = 'ONTRAX' %}
{% set railingColor = 'Matt Black' %}

{% if project.productType.id == 2 %}
    {% set railingTitle = 'FRAME' %}
    {% set railingColor = 'Banjo Pine' %}
{% elseif project.productType.id == 4 %}
    {% set railingTitle = 'RAILING' %}
{% endif %}

<table class="main-table">
    <tr>
        <td style="width: 50%;">
            <img src="{{ project.productType.pdfHeaderWebPath }}" alt="" style="width: 40%; padding-bottom: 30px;">
        </td>
        <td style="text-align: right; font-size:24pt; font-weight:300; color:#90928B; vertical-align:top; padding-top:20px; font-family: 'Roboto Condensed';">Price & Spec</td>
    </tr>
    <tr>
        <td style="vertical-align: top; text-align: center;">
            <img src="{{ project.imageWebPath }}" alt="" style="border: 1px solid #757575; width: 45%;">
        </td>

        <td style="vertical-align: top; width: 55%;">
            <table class="sTable">
                <thead>
                <tr class="tr">
                    <th colspan="2" bgcolor="#525453" style="color: white;">Specification table</th>
                </tr>
                </thead>

                <tbody style="letter-spacing: 1px;">

                <tr>
                    <td style="font-size: 8pt; width: 40%;" bgcolor="#f8f9f8;">PROJECT NAME</td>
                    <td style="font-size: 9pt; width: 60%;">{{ project.title }}</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt;" bgcolor="#f8f9f8">PRODUCT</td>
                    <td style="font-size: 9pt;">Sculptform {{ project.productType.fullTitle }}</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt;" bgcolor="#f8f9f8">APPLICATION TYPE</td>
                    <td style="font-size: 9pt;">{{ project.getApplicationLabel() }}</td>
                </tr>

                <tr>
                    <td style="font-size: 8pt;" bgcolor="#f8f9f8">SEQUENCE</td>

                    {% set sequence = project|create_sequence|raw %}
                    {% set sequenceLength = project|sequence_length %}

                    <td style="font-size:{% if sequenceLength > 600 %}7{% else %}8{% endif %}pt">{{ sequence }}</td>
                    {#<td style="font-size: 8pt;">{{ sequence }}</td>#}
                </tr>

                {% if project.productType.id == 2 %}
                    {% set ecp = project.expressionCladdingProducts.first %}

                    {% if ecp %}
                        {% if ecp.base is not null %}
                            {% set stackerParentShape = ecp.base.getParentShape(0) %}
                        {% else %}
                            {% set stackerParentShape = ecp.stacker.getParentShape(0) %}
                        {% endif %}

                        <tr>
                            <td style="font-size: 8pt;" bgcolor="#f8f9f8">PROFILE</td>
                            <td style="font-size: 9pt;">{{ stackerParentShape.title }}</td>
                        </tr>
                    {% endif %}
                {% endif %}

                {% if project.productType.title != 'Tongue & Groove Cladding' %}
                    <tr>
                        <td style="font-size: 8pt;" bgcolor="#f8f9f8">SPACING</td>
                        <td style="font-size: 9pt;">{{ project.snap }}mm</td>
                    </tr>
                {% endif %}

                <tr>
                    <td style="font-size: 8pt;" bgcolor="#f8f9f8">SPECIES</td>
                    <td style="font-size: 9pt;">{{ project|species }}</td>
                </tr>

                {% if project.productType.title != 'Facade Blades' %}
                    <tr>
                        <td style="font-size: 8pt;" bgcolor="#f8f9f8">COATING</td>
                        <td style="font-size: 9pt;">{{ project.materialCoatings.first ? project.materialCoatings.first.title : '' }}</td>
                    </tr>
                {% endif %}

                {% if project.productType.title != 'Tongue & Groove Cladding' %}
                    <tr>
                        <td style="font-size: 8pt;" bgcolor="#f8f9f8">MOUNTING TRACK TYPE</td>
                        <td style="font-size: 9pt;">{{ project.railing.title }}</td>
                    </tr>
                {% endif %}

                {% if project.productType.title != 'Tongue & Groove Cladding' %}
                    <tr>
                        <td style="font-size: 8pt;" bgcolor="#f8f9f8">MOUNTING TRACK COLOUR</td>
                        <td style="font-size: 9pt;">Matt Black</td>
                    </tr>
                {% endif %}

                {% if project.productType.id == 1 and project.applicationType == 1 %}
                    <tr>
                        <td style="font-size: 8pt;" bgcolor="#f8f9f8">ACOUSTIC BACKING</td>
                        <td style="font-size: 9pt;">{% if project.acousticBacking is not null %} Yes {% else %} No {% endif %}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <table class="costT">
                <thead>
                <tr bgcolor="#525453">
                    <th style="color: white; font-size: 13px;">Supply Cost per m<sup>2</sup></th>
                    <th style="color: white; font-size: 13px;">Acoustic Rating*</th>
                    <th style="color: white; font-size: 13px;">Total Weight</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="height: 60px;">
                        {% set price = project.price * project.currency.rate %}
                        <h1 style="font-size: 18px; font-weight:300; margin: 3px;">$ {{ price|number_format(2) }} <span style="font-size: 14px;">{{ project.currency.code }}</span></h1>
                        <p style="margin: 3px; font-size: 10px;">based on [{{ project.pricingCategory }} sqm]</p>
                    </td>
                    <td>
                        <h2 style="font-size: 18px; font-weight: 300;">{{ project.acousticRating.nrc }}</h2>
                    </td>
                    <td style="width: 30%;">
                        <h2 style="font-size: 18px; font-weight: 300;">{{ totalWeight|round(2) }}kg</h2>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <div class="text-group">
                <table>
                    <tr>
                        <td>
                            <p style="font-size: 12px; color: dimgray; font-weight: bold;"><b>IMPORTANT PRICING NOTE</b></p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p style="color: dimgray; font-size: 12px;">
                                {{ project.productType.disclaimer|raw }}
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p style="color: dimgray; font-size: 12px; margin: 4px; padding: 20px; display: block;">
                                <b>Price includes:</b> {{ project.productType.priceIncludeNote|raw }}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="color: dimgray; font-size: 12px; margin: 4px;">
                                <b>Price does not include:</b> {{ project.productType.priceExcludeNote|raw }}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% set priceNote = project.productType.priceNote|raw %}
                            {% set priceNote = priceNote|replace({'<p>': '<p style="color: dimgray; font-size: 11px;">'}) %}

                            {{ priceNote|raw }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="small" style="color: dimgray; font-size: 10px; margin: 4px;">
                                *Based on professional opinion only. See disclaimer in Price & Spec for full details.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

<div class="secondRow" style="{% if sequenceLength <= 600 %}position: fixed; left: 0; top: 800px;{% endif %}">
    {#<div class="secondRow" style="position: fixed; left: 0; top: 800px;">#}
    <table class="title">
        <tr>
            <td>
                <span style="color: darkred; font-size: 14pt; font-weight: bold; margin-right: 10px;">Happy with your specification? </span>
            </td>
            <td>
                <span style="font-size: 14pt; color: dimgray; font-weight: normal;">Follow these 3 simple steps below to order.</span>
            </td>
        </tr>
    </table>

    <div class="block-group" style="width: 100%; margin-top: 5px; margin-bottom: -15px;">
        <table class="stepT">
            <tr>
                <td style="width: 30%; padding: 10px; margin: 15px;" class="step">
                    <h1 style="color: darkred; font-size: 16pt;">Step 1.</h1>
                    <p style="font-size: 10pt; color: dimgray;">
                        <span style="font-weight:bold;">Calculate your cost.</span>
                        If the product specification and pricing is satisfactory, simply multiply this m<sup>2</sup> price by the m<sup>2</sup> of material required for your project.
                    </p>
                </td>

                <td style="width: 15px; border: none;">&nbsp;</td>

                <td style="width: 30%; padding: 10px;" class="step">
                    <h1 style="color: darkred; font-size: 16pt; padding-bottom: 20px">Step 2.</h1>
                    <p style="font-size: 10pt; color: dimgray;">
                        Once the tender has been approved, email us the final construction drawings to receive a formal <span style="font-weight: bold;">BOQ estimation</span> which includes all standard trims and componentry.
                    </p>
                </td>

                <td style="width: 15px; border: none;">&nbsp;</td>

                <td style="width: 30%; padding: 10px;" class="step">
                    <h1 style="color: darkred; font-size: 16pt;">Step 3.</h1>
                    <p style="font-size: 10pt; color: dimgray;">
                        Review itemised quote and follow the prompts to <span style="font-weight: bold;">place your order.</span>
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <div class="fContent">
            <table style="color: white;">
                <tr>
                    <td style="text-align: center; padding: 0 5px;">
                        <span style="margin-right: 20px; width: 35%;">
                            Contact us on <strong>1800 008 828</strong>
                        </span>
                    </td>

                    <td style="padding: 0 5px; border-left:  1px solid white; border-right:  1px solid white; width: 35%;">
                        <span style=" margin: 0; padding-left: 20px; padding-right: 20px;">support@sculptform.com.au </span>
                    </td>

                    <td style="padding: 0 5px;">
                        <span style="margin-left: 20px; width: 30%;">
                            <strong>sculptform.com.au</strong>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>


</body>
</html>
