<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title></title>
    <style>
        body {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
        }
        #container {
            border: 0px solid red;
            max-width: 900px;
            min-width: 800px!important;
            margin: 0 auto;
        }
        #header {
            width: 100%;
            margin: 0 auto;
        }
        #header img {
            width: 100%;
            height: 50%;
            padding-bottom: 30px;
        }


        #main-table {
            table-layout: fixed;
            width: 100%;
        }
        #main-table td {
            font-size: 15px;
        }
        .specification-table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
        }
        .specification-table th {
            background-color: #525453;
            color: white;
            padding: 5px;
            font-weight: 300;
            border: 1px solid #8b8b8b;
        }
        .specification-table td {
            color: dimgray;
            border: 1px solid #d4d4d4;
            padding: 0 12px;
            font-weight: 300;
            font-size: 16px;
            width: 50%;
            padding: 5px;
        }
        .specification-table td h1{
            font-size: 24px;
            padding: 5px;
        }
        #steps td {
            border: 2px solid #757575;
            vertical-align: top;
        }
        #steps td h1 {
            font-size: 24px;
        }
        .red_text, .gray_text {
            font-size: 24px;
        }
        #footer {
            background-color: #525453;
            color: white;
            margin-top: 25px;
            text-align: center;
        }
        @media screen and (max-width: 991px) {
            .specification-table h1 {
                font-size: 20px;
            }
            .red_text, .gray_text {
                font-size: 20px;
            }
            table td,
            table td p,
            table td span {
                font-size: 14px!important;
            }

        }
        @media screen and (max-width: 767px) {
            table td,
            table td p,
            table td span {
                font-size: 13px!important;
            }
            .specification-table td h1{
                font-size: 19px;
            }
            #steps td h1 {
                font-size: 19px;
            }
            .red_text, .gray_text {
                font-size: 19px;
            }

        }
    </style>
</head>
{% set scene = project.scenes.first %}
{% set totalWeight = project.totalWeight %}

<body>
<div id="container">
    <div id="header">
        <img style="width: 100%; display: block;" src="{{ projectHeaderPath }}">
    </div>

    <div id="content">
        <table id="main-table">
            <tr class="flex_mobile">
                <td class="mobile_width" style="border: 1px solid #757575; width: 30%;">
                    <img style="width: 100%; display: block;" src="{{ projectImagePath }}">
                </td>

                <td class="mobile_width" style="vertical-align: top; width: 55%;">
                    <table class="specification-table">
                        <tr>
                            <th colspan="2" bgcolor="#525453">SPECIFICATION TABLE</th>
                        </tr>
                        <tr>
                            <td bgcolor="#f8f9f8">PROJECT NAME</td>
                            <td>{{ project.title }}</td>
                        </tr>
                        <tr>
                            <td bgcolor="#f8f9f8">PRODUCT</td>
                            <td>{{ project.productType.fullTitle }}</td>
                        </tr>
                        <tr>
                            <td bgcolor="#f8f9f8">APPLICATION TYPE</td>
                            <td>{{ project.getApplicationLabel() }}</td>
                        </tr>
                        <tr>
                            <td bgcolor="#f8f9f8">SEQUENCE</td>
                            <td>{{ project|create_sequence }}</td>
                        </tr>

                        {% if project.productType.id == 2 %}
                            {% set ecp = project.expressionCladdingProducts.first %}

                            {% if ecp %}
                                {% set stackerParentShape = ecp.base.getParentShape(0) %}
                                <tr>
                                    <td bgcolor="#f8f9f8">PROFILE</td>
                                    <td>{{ stackerParentShape.title }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}

                        {% if project.productType.title != 'Tongue & Groove Cladding' %}
                            <tr>
                                <td bgcolor="#f8f9f8">SPACING</td>
                                <td>{{ project.snap }}mm</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td bgcolor="#f8f9f8">SPECIES</td>
                            <td>{{ project|species }}</td>
                        </tr>

                        {% if project.productType.title != 'Facade Blades' %}
                            <tr>
                                <td bgcolor="#f8f9f8">COATING</td>
                                <td>{{ project.materialCoatings.first ? project.materialCoatings.first.title : '' }}</td>
                            </tr>
                        {% endif %}

                        {% if project.productType.title != 'Tongue & Groove Cladding' %}
                            <tr>
                                <td bgcolor="#f8f9f8">MOUNTING TRACK TYPE</td>
                                <td>{{ project.railing.title }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td bgcolor="#f8f9f8">MOUNTING TRACK COLOUR</td>
                            <td>
                                {% if project.productType.title == 'Tongue & Groove Cladding' %}
                                    {{ 'Banjo Pine' }}
                                {% else %}
                                    {{ 'Matt Black' }}
                                {% endif %}
                            </td>
                        </tr>

                        {% if project.productType.id == 1 and project.applicationType == 1 %}
                            <tr>
                                <td bgcolor="#f8f9f8">ACOUSTIC BACKING</td>
                                <td>
                                    {% if project.acousticBacking is not null %}Yes{% else %}No{% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>

            <tr class="flex_mobile">
                <td></td>

                <td>
                    <table class="specification-table full_column">
                        <thead>
                        <tr>
                            <th>Supply Cost per m<sup>2</sup></th>
                            <th>Acoustic Rating*</th>
                            <th>Total Weight</th>
                        </tr>
                        </thead>

                        <tr>
                            {% set price = project.price * project.currency.rate %}
                            <td style="text-align: center; vertical-align: middle;">
                                <h1 style="font-weight: 300; margin-bottom: 0;">${{ price|number_format(2) }} <span>{{ project.currency.code }}</span></h1>
                                <p style="margin-top: 0;">based on [{{ project.pricingCategory }} sqm]</p>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <h1 style="font-weight: 300;">{{ project.acousticRating.nrc }}</h1>
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                <h1 style="font-weight: 300;">{{ totalWeight|round(2) }}kg</h1>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="flex_mobile">
                <td></td>
                <td>
                    <h3 style="color: #696969!important; font-weight: bold"><b>IMPORTANT PRICING NOTE</b></h3>

                    <p style="color: dimgray;line-height: 1.1;">
                        {{ project.productType.disclaimer|raw }}
                    </p>

                    <p style="color: #696969!important;line-height: 1.1;">
                        <strong style="font-weight: bold;display: inline;font-size: 15px;">Price includes:</strong> {{ project.productType.priceIncludeNote|raw }}
                    </p>

                    <p style="color: #696969!important;line-height: 1.1;">
                        <strong style="font-weight: bold;display: inline;font-size: 15px;">Price does not include:</strong> {{ project.productType.priceExcludeNote|raw }}
                    </p>

                    <p class="small" style="color: #696969 !important; font-size: 13px;font-style: italic;">
                        {{ project.productType.priceNote|raw }}
                    </p>

                    <p class="small" style="color: dimgray; font-size: 12px;">
                        *Based on professional opinion only. See disclaimer in Price & Spec for full details.
                    </p>
                </td>
            </tr>
        </table>

        <table>
            <tr class="flex_mobile">
                <td>
                    <h1 class="red_text" style="color: darkred; font-weight: bold;margin-bottom: 0; margin-right: 10px;">Happy with your specification? </h1>
                </td>
                <td>
                    <h1 class="gray_text" style="color: dimgray; font-weight: normal;margin-bottom: 0;">Follow these 3 simple steps below to order.</h1>
                </td>
            </tr>
        </table>

        <div style="margin-top: 20px">
            <table id="steps">
                <tr>
                    <td style="width: 26%; padding: 10px; margin: 15px;" class="step">
                        <h1 style="color: darkred;margin: 0;">Step 1.</h1>
                        <p style="color: dimgray; margin-top: 5px;margin-bottom: 0;">
                            <span><strong>Calculate your cost.</strong></span>
                            If the product specification and pricing is satisfactory, simply multiply this m<sup>2</sup> price by the m<sup>2</sup> of material required for your project.
                        </p>
                    </td>

                    <td style="width: 3%; border: none;">&nbsp;</td>

                    <td style="width: 26%; padding: 10px;" class="step">
                        <h1 style="color: darkred;margin: 0;">Step 2.</h1>
                        <p style="color: dimgray; margin-top: 5px;margin-bottom: 0;">
                            Once the tender has been approved, email us the final construction drawings to receive a formal <strong>BOQ estimation</strong> which includes all standard trims and componentry.</p>
                    </td>

                    <td style="width: 3%; border: none;">&nbsp;</td>

                    <td style="width: 26%; padding: 10px;" class="step">
                        <h1 style="color: darkred;margin: 0;">Step 3.</h1>
                        <p style="color: dimgray; margin-top: 5px;margin-bottom: 0;">Review itemised quote and follow the prompts to <strong>place your order.</strong></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="footer">
        <table style="width: 100%;color: white;">
            <tr>
                <td style="text-align: center; padding: 5px">
                    <span style="margin-right: 20px; width: 33.333%!important">Contact us on <b><font style="color: #fff!important;">1800 008 828</font></b> </span>
                </td>
                <td style="padding: 5px; border-left:  1px solid white; border-right:  1px solid white; width: 33.333%!important">
                    <span style=" margin: 0px; padding-left: 20px; padding-right: 20px; color: #fff!important;"><font style="color: #fff!important;"><a href="mailto:support@sculptform.com.au" style="color: #fff;">support@sculptform.com.au</a></font></span>
                </td>
                <td style="padding: 5px"><span style="margin-left: 20px; width: 33.333%!important; color: #fff!important;"><b><font style="color: #fff!important;"><a href="http://sculptform.com.au" target="_blank" style="color: #fff;">sculptform.com.au</a></font></b></span></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>