{% extends 'SonataAdminBundle:CRUD:list_choice.html.twig' %}
{% block field %}
    {% for project in object.projects %}
        <a href="{{ admin.generateCustomUrl('edit', project, {}, true) }}">{{ project.title }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}