{% extends 'SonataAdminBundle:CRUD:list_outer_rows_mosaic.html.twig' %}

{% block sonata_mosaic_background %}
    {% if object.imagePath is defined %}
        <img src="{{ asset(object.imageWebPath) }}">
    {% else %}
        <img src="{{ asset('images/woodform-architectural-logo.png') }}">
    {% endif %}
{% endblock %}