{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div class="list-group">
        {% if object.group %}
            {% if object.group.parent is null %}
                <a href="#" class="list-group-item"><strong>{{ object.group.title }}</strong></a>
            {% else %}
                <a href="#" class="list-group-item"><strong>{{ object.group.parent.title }}</strong></a>
                <div class="list-group">
                    <a href="#" class="list-group-item" style="padding-left: 40px"><i>{{ object.group.title }}</i></a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}