{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.color != null %}
            <div style="width: 124px; height: 124px; background-color: {{ object.color }}" title="{{ value }}"></div>
        {% else %}
            <span>No color</span>
        {% endif %}
    </div>
{% endblock %}