{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div>
        {% if object.texturePath != null %}
            <img src="{{ image(object.textureWebPath).resize(124,124) }}">
        {% else %}
            <span>No picture</span>
        {% endif %}
    </div>
{% endblock %}