{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    {% for role in object.roles %}
        {{ role }}{% if not loop.last %}, {% endif %}
    {% endfor %}
{% endblock %}