{% extends 'SonataAdminBundle:CRUD:list_choice.html.twig' %}
{% block field %}
        {% if object.enabled %}
            <span class="label label-success">active</span>
        {% else %}
            <span class="label label-danger">blocked</span>
        {% endif %}
{% endblock %}