{% extends 'SonataAdminBundle:CRUD:show_array.html.twig' %}
{% block field %}
    {% if object.userProjects|length > 0 %}
        <table class="table table-bordered table-striped sonata-ba-list">
            <thead>
                <tr class="sonata-ba-list-field-header">
                    <th class="sonata-ba-list-field-header">
                        Unique URL
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Title
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Product type
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Application type
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Image
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Indicative price
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Wholesale price
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Retail price
                    </th>
                    <th class="sonata-ba-list-field-header">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for userProject in object.userProjects %}
                <tr>
                    <td class="sonata-ba-list-field">
                        <a href="{{ absolute_url(sculptform_url~'/user/designer/'~userProject.project.id) }}">{{ absolute_url(sculptform_url~'/user/designer/'~userProject.project.id) }}</a>
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ userProject.project.title }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ userProject.project.productType.title }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ staticCall('AppBundle\\Enum\\ApplicationType', 'getTitle', {key: userProject.project.applicationType}) }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {% if userProject.project.imageWebPath is not null %}
                            <img src="{{ image(userProject.project.imageWebPath).resize(200,100) }}">
                        {% else %}
                            No image
                        {% endif %}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ userProject.project.price }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ userProject.project.wholesalePrice }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {{ userProject.project.retailPrice }}
                    </td>
                    <td class="sonata-ba-list-field">
                        {% if userProject.project.status == constant('AppBundle\\Enum\\ProjectStatus::ACTIVE') %}
                            {% set class = 'success' %}
                        {% elseif userProject.project.status == constant('AppBundle\\Enum\\ProjectStatus::DELETED') %}
                            {% set class = 'danger' %}
                        {% else %}
                            {% set class = 'info' %}
                        {% endif %}
                        <span class="label label-{{ class }}">
                            {{ staticCall('AppBundle\\Enum\\ProjectStatus', 'getTitle', {key: userProject.project.status}) }}
                        </span>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        No projects
    {% endif %}
{% endblock %}